<div class="col-md-12 panel-body">
  <%= link_to 'Regresar', clientes_path, class: "btn btn-default" %>
  <%= link_to 'Editar', edit_cliente_path(@cliente), class: "btn btn-default"  %> 
</div>


<div class="col-md-12  panel-body">
  <p id="notice"><%= notice %></p>
  <%= detalle "Identidad : ", @cliente.identidad %>
  <%= detalle "Apellidos : ", @cliente.apellidos %>
  <%= detalle "Nombres : ", @cliente.nombres %>
  <%= detalle "Fecha : ", @cliente.fecha %>
  <%= detalle "Telefono : ", @cliente.telefono %>
  <%= detalle "Direccion : ", @cliente.direccion , "col-md-8"%>

</div>
 