<div class="col-md-12 panel-body">
  <%= link_to 'Regresar', planes_path, class: "btn btn-default" %>
  <%= link_to 'Editar', edit_plan_path(@plan), class: "btn btn-default"  %> 
</div>



<div class="col-md-12  panel-body">
  <p id="notice"><%= notice %></p>
  <%= detalle "Nombre : ",@plan.nombre %>
  <%= detalle "Monto Semanal : ", number_to_currency(@plan.monto ) %>
  <%= detalle "Monto Mensual : ", number_to_currency( @plan.monto * 4 ) %>
  <%= detalle "Monto Semestral: : ", number_to_currency(@plan.monto * 26 ) %>
  <%= detalle "Monto Anual: : ", number_to_currency(@plan.monto * 52 ) %>
  <%= detalle "Componentes: : ", @plan.componentes , "col-md-12"%>

</div>
