 
<%= titulo("Cobrador  #{@cobrador.id}") %> 
<div class="panel-body2"  >
  <%= link_to 'Regresar', cobradores_path, class: "btn btn-default" %>
  <%= link_to 'Editar', edit_cobrador_path(@cobrador), class: "btn btn-default"  %> 
</div>
<div class="panel-body2"  style="height: 95%; padding-top: 10px;">
	<%= render partial: "/shared/flash_messages", flash: flash %> 
  <%= detalle "Identidad : ", @cobrador.identidad %>
  <%= detalle "Nombres : ", @cobrador.nombre %>
</div>
 
