<div class="col-md-12 panel-body">
  <%= link_to 'Regresar', clientes_fiscales_path, class: "btn btn-default" %>
  <%= link_to 'Editar',edit_cliente_fiscal_path(@cliente_fiscal), class: "btn btn-default"  %> 
</div>
<div class="col-md-12  panel-body">
	<%= render partial: "/shared/flash_messages", flash: flash %> 
  <%= detalle "Identidad : ", @cliente_fiscal.identidad %>
  <%= detalle "Nombres : ", @cliente_fiscal.nombres %>
  <%= detalle "Telefono : ", @cliente_fiscal.telefono %>
  <%= detalle "Direccion : ", @cliente_fiscal.direccion , "col-md-8"%>
</div>
 