<tr>
    <td><%= factura.id %></td>
    <td><%= factura.cliente_fiscal.nombre_completo %></td>
    <td><%= factura.fecha %></td>
    <td><%= factura.tipo %></td>
    <td><%= moneda_venezuela factura.saldo %></td>
    <td><%= moneda_venezuela(factura.total) %></td>
    <td><%= factura.estado %></td>
    <td align="right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
  		<ul class="dropdown-menu dropdown-menu-right">
    		<li><%= link_to 'Mostrar', factura  %></li>
	  	</ul>
	</div>
	</td>
</tr>

