<%= form_for(producto, 
  remote: false, 
  html: { 
    class:'form-horizontal',
    role:'form'
  }) do |f| %>
  <div class="form-group form-group-sm <%= "has-error" if producto.errors.has_key?(:descripcion)  %>">
    <%=f.label :descripcion,"Descripción :", class:"col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_area :descripcion,class: "form-control input-sm", placeholder:" Descripción. " %>
      <% if producto.errors.has_key?(:descripcion) %>
        <span class="help-block"><%= producto.errors.messages[:descripcion].join(',') %></span>
      <% end %>
    </div>
  </div>

  <div class="form-group form-group-sm <%= "has-error" if producto.errors.has_key?(:precio)  %>">
    <%=f.label :precio,"Precio :",class:"col-md-2 control-label" %>
    <div class="col-md-5">
      <%= f.text_field :precio, {class: "form-control input-sm",onkeyup: "formPlan.calcularMontoPlan()"} %>
      <% if producto.errors.has_key?(:precio) %>
        <span class="help-block"><%= producto.errors.messages[:precio].join(',') %></span>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-7" align="right">
      <%= submit_tag "Guardar" , class: "btn btn-primary btn-sm"  %>
  </div>  

<% end %>
