<%= form_for(contrato,as: :contrato,
  remote: false,
  url: contrato_cobrador_path(contrato),
  method: :post,
  authenticity_token: true,
  html: {class:'form-horizontal', role:'form'}
  ) do |f| %>

     <% 
        if contrato.cobrador.nil?
          cobradores = []
        else 
          cobradores = [contrato.cobrador]
        end 
      %>
  <div class="form-group form-group-sm <%= "has-error" if contrato.errors.has_key?(:plan_id)  %>">
   <%= f.label :cobrador, class:"col-md-1 control-label" %>
   <div class="col-md-6">
     <%= f.select :cobrador_id,
        options_from_collection_for_select(cobradores,"id", "nombre",contrato.cobrador_id),
        {},
        class: "form-control input-sm",
        style:" width: 300px" 
      %> 
     <% if contrato.errors.has_key?(:cobrador_id) %>
     <span class="help-block"><%= contrato.errors.messages[:cobrador_id].join(',') %></span>
     <% end %>
   </div>
  </div> 
 
   <div class="form-group form-group-sm">
    <div class="col-md-12 " align="right">
      <%= submit_tag "Guardar" , class: "btn btn-primary btn-sm"  %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  formContrato.inciarFormularioCambiarCobrador();
</script>

