<%= form_for(contrato,remote: false,html: {class:'form-horizontal', role:'form'}) do |f| %>
  <div class="form-group form-group-sm <%= "has-error" if contrato.errors.has_key?(:cliente_id)  %>">
    <%= f.label :cliente_id, class:"col-md-1 control-label" %>
    
    <div class="col-md-3">
      <% 
        if contrato.cliente.nil?
          clientes = []
        else 
          clientes = [contrato.cliente]
        end 
      %>
     <%= f.select :cliente_id,options_from_collection_for_select(clientes,"id", "nombre_completo",contrato.cliente_id),{},class: "form-control input-sm"%> 
     <% if contrato.errors.has_key?(:cliente_id) %>
     <span class="help-block"><%= contrato.errors.messages[:cliente_id].join(',') %></span>
     <% end %>
    </div>

    <%= f.label :desde,"Iniciar Cobros Desde", class:"col-md-2 control-label" %>
    <div class="col-md-2">
      <% desde = contrato.desde.strftime("%d/%m/%Y") unless contrato.desde.nil?%>
      <%= text_field_tag "contrato[desde]",desde, class: "form-control input-sm" %>
      <% if contrato.errors.has_key?(:desde) %>
      <span class="help-block"><%= contrato.errors.messages[:desde].join(',') %></span>
      <% end %>
    </div>

    <%= f.label :fecha_registro,"Fecha Registro", class:"col-md-2 control-label" %>
    <div class="col-md-2">
      <% fecha_registro = contrato.fecha_registro.strftime("%d/%m/%Y") unless contrato.fecha_registro.nil?%>
      <%= text_field_tag "contrato[fecha_registro]",fecha_registro, class: "form-control input-sm" %>
      <% if contrato.errors.has_key?(:fecha_registro) %>
      <span class="help-block"><%= contrato.errors.messages[:fecha_registro].join(',') %></span>
      <% end %>
    </div>
  </div> 

  <div class="form-group form-group-sm <%= "has-error" if contrato.errors.has_key?(:plan_id)  %>">
    <%= f.label :plan_id, class:"col-md-1 control-label" %>
    <div class="col-md-3">
      <% 
        if contrato.plan.nil?
          planes = []
        else 
          planes = [contrato.plan]
        end 
      %>
      <%= f.select :plan_id,options_from_collection_for_select(planes,"id", "nombre_monto",contrato.plan_id),{},class: "form-control input-sm"%> 
      <% if contrato.errors.has_key?(:plan_id) %>
      <span class="help-block"><%= contrato.errors.messages[:plan_id].join(',') %></span>
      <% end %>
    </div>

    <%= f.label :cobrador, class:"col-md-1 control-label" %>
    <div class="col-md-3">
      <% 
        if contrato.cobrador.nil?
          cobradores = []
        else 
          cobradores = [contrato.cobrador]
        end 
      %>
      <%= f.select :cobrador_id,
        options_from_collection_for_select(cobradores,"id", "nombre",contrato.cobrador_id),
        {},
        class: "form-control input-sm"
      %> 
      <% if contrato.errors.has_key?(:cobrador_id) %>
        <span class="help-block"><%= contrato.errors.messages[:cobrador_id].join(',') %></span>
      <% end %>
    </div>
  </div> 

  <div class="col-md-12">
    <div class="col-md-6" style="height: 350px; overflow: scroll;">
      <h4 class="page-header2">Pagos</h4>
      <ul id="listadoPago" class="list-group">

      </ul>
    </div>
    <div class="col-md-6" style="height: 300px; overflow: scroll;">
      <h4 class="page-header2">Plan</h4>
      <p>
        <strong>Monto Semanal:</strong>
        <label id="plan_monto"><%= moneda_venezuela(contrato.plan.monto) unless contrato.plan.nil? %><label>
      </p>
      <p>
        <strong>Monto Mensual:</strong>
        <label id="plan_mensual"><%= moneda_venezuela(contrato.plan.monto * 4 ) unless contrato.plan.nil? %><label> 
      </p>
      <p>
        <strong>Monto Semestral:</strong>
        <label id="plan_semestral"><%= moneda_venezuela(contrato.plan.monto * 26 )  unless contrato.plan.nil? %><label>
      </p>
      <p>
        <strong>Monto Anual:</strong>
        <label id="plan_anual"><%= moneda_venezuela(contrato.plan.monto * 52 )  unless contrato.plan.nil? %><label> 
      </p>
      <p>
        <strong>Componentes:</strong>
        <label id="plan_componentes"><%= contrato.plan.componentes unless contrato.plan.nil? %>
      </p>

    </div>
    <div class="col-md-12">
      <h3 class="pull-right" id="total">Total 0.0 Bs</h3>
    </div>

    <div class="form-group form-group-sm">
      <div class="col-md-12 " align="right">
        <%= submit_tag "Guardar" , class: "btn btn-primary btn-sm"  %>
      </div>
    </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  <% if contrato.plan.nil? %>
    plan = null;
  <% else %>
    plan ={
      id: <%= contrato.plan.id %>,
      nombre: '<%= contrato.plan.nombre %>',
      monto: <%= contrato.plan.monto %>,
      componentes: '<%= escape_javascript contrato.plan.componentes %>',
    };
  <% end %>
  formContrato.inciarFormulario(plan);
</script>




  

 


