<div role="tabpanel" class="tab-pane fade in " id="pagos">
  <div align="left">
    <div class="panel-body">
      <label for="">Año</label>
      <%= seleccionar_pagos_por_ano(contrato,ano) %>
    </div>
  </div>
  <div class="table-responsive" >
    <% if contrato.pagos.por_ano(ano).empty? %>
      <h2>No hay Pagos Registrados para este año <%= ano %></h2>
    <% else %>
      <table class="table table-body" >
      <thead>
        <tr>
          <th>Año</th>
          <th>Semana</th>
          <th>Plan</th>
          <th>Monto</th>
          <th>Cobrador</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% contrato.pagos.por_ano(ano).each do |pago| %>
          <tr>
            <td><%= pago.ano %></td>
            <td><%= pago.semana %></td>
            <td><%= pago.plan.nombre unless pago.plan.nil? %></td>
            <td><%= moneda_venezuela(pago.monto) %></td>
            <td><%= pago.cobrador.nombre unless pago.cobrador.nil? %></td>
            <td><%= pago.estado %></td>
            <td><%= button_to('Pagar',
                contrato_pagar_path(contrato,pago),
                method: "patch",
                class:"btn btn-sm btn-info",
                data: {
                  confirm: "Quieres Pagar la semana Nro #{pago.semana}" 
                }) if contrato.activo? and pago.pendiente? %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td align="right" style="width: 70%;"><strong>Monto Semanal :</strong></td>      
          <td><label id="plan_monto"><%= moneda_venezuela(contrato.pagos.ultimo_monto(ano)) %></label></td>      
        </tr>
        <tr>
          <td  align="right" style="width: 70%;"><strong>Monto Pendiente :</strong></td>      
          <td><label id="plan_monto"><%= moneda_venezuela(contrato.pagos.monto_pendiente(ano)) %></label></td>      
        </tr>
        <tr>
          <td  align="right" style="width: 70%;"><strong>Total Contrato :</strong></td>      
          <td><label id="plan_mensual"><%= moneda_venezuela(contrato.pagos.total_ano(ano) )  %></label></td>      
        </tr>
      </tfoot>
      </table>
    <% end %>
  </div>
</div>