<%= titulo("Contrato ") %> 
<div class="panel-body2" >
  <%= link_to 'Regresar', contratos_path, class: "btn btn-default btn-sm" %>
  <%= link_to 'Editar', edit_contrato_path(@contrato),class: "btn btn-default btn-sm" if @contrato.creado? %> 
  <%= button_to("Generar Pagos año #{Date.today.year}",
    contrato_generar_pagos_path(@contrato),
    method: "POST",
    remote: true,
    class:"btn btn-default btn-sm form-inline",
    data: { confirm: "Quieres Generar los pagos para el año #{Date.today.year} " },
    form: {style: 'display:inline-block;'} ) if @contrato.desde.year < Date.today.year %>

  <%= button_to('Activar', contrato_activar_path(@contrato),
      method: "patch",
      class:"btn btn-default btn-sm form-inline",
      data: { confirm: "Quieres ACTIVAR el contrato Nro #{@contrato.id }" },
     form: {style: 'display:inline-block;'} )  if @contrato.creado?  %>

  <%  if @contrato.activo? %>
    <div class="btn-group ">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" 
      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Editar <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li>
          <%= button_to('Cambiar Cobrador', contrato_cobrador_path(@contrato),
          method: "get",
          remote: true,
          class:"eliminar",
          form: {style: 'display:inline-block;'} ) %>
        </li>
        <li>
          <%= button_to('Asignar Fecha Registro ',  contrato_fecha_registro_path(@contrato),
           method: "get", 
           remote: true,
           class:"eliminar",
           form: {style: 'display:inline-block;'} )  %>
        </li>
        <li>
          <%= button_to('Cambiar Propietario ',  contrato_propietario_path(@contrato),
           method: "get", 
           remote: true,
           class:"eliminar",
           form: {style: 'display:inline-block;'} )  %>
        </li>
        <li>
          <%= button_to('Cambiar Plan ',  contrato_plan_path(@contrato),
           method: "get", 
           remote: true,
           class:"eliminar",
           form: {style: 'display:inline-block;'} )  %>
        </li>
      </ul>
    </div>
  <% end %>


  <%  unless @contrato.anulado? %>
  <div class="btn-group ">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" 
    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Reportes <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li>
        <%= link_to 'Cartulina', contrato_catulina_path(@contrato),target: "_blank"  %>
      </li>
      <li>
        <%= link_to 'Carnet', contrato_carnet_path(@contrato),target: "_blank"  %>
      </li>
      <li>
        <%= link_to 'Contrato',contrato_contrato_path(@contrato),target: "_blank"%> 
      </li>
    </ul>
  </div>
  <% end %>

</div>

<div class="panel-body2"  style="height: 95%; padding-top: 10px;">
  <%= render partial: "/shared/flash_messages", flash: flash %> 
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
      <a href="#contrato" aria-controls="contrato" role="tab" data-toggle="tab">Contrato</a>
    </li>
    <li role="presentation">
      <a href="#pagos" aria-controls="pagos" role="tab" data-toggle="tab">Pagos</a>
    </li>
    <li role="presentation">
      <a href="#beneficiario" aria-controls="beneficiario" role="tab" data-toggle="tab">Beneficiarios</a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="contrato">
      <div class="col-md-12  panel-body"  style="border: 1px solid #ddd; border-bottom-color: transparent;">
        <%= detalle "Cliente : ", @contrato.cliente.nombre_corto %>
        <%= detalle "Plan : ", @contrato.plan.nombre %>
        <%= detalle "Desde : ", @contrato.desde %>
        <%= detalle "Fecha Registro : ", @contrato.fecha_registro %>
        <%= detalle "Cobrador : ", @contrato.cobrador.nombre %>
        <%= detalle "Estado : ", @contrato.estado %>
      </div>
    </div>
    <!--    Pagos  -->
    <%= render('/contratos/pagos', contrato: @contrato, ano: Date.today.year )%>

    <!-- Beneficiarios --> 
    <div role="tabpanel" class="tab-pane fade in" id="beneficiario">
      <div class="col-md-12" style="border: 1px solid #ddd; border-bottom-color: transparent;">
        <div class="btn-group" role="group" style="margin-top:10px;">
          <%= button_to("Agregar",
              new_contrato_beneficiario_path(@contrato), 
              remote: true,
              method: :get,
              class: "btn btn-primary btn-sm") unless @contrato.anulado? %>
        </div>
        <div class="table-responsive" >
        <table class="table table-body">
        <thead><tr><th>Identidad</th><th>Apellidos</th><th>Nombres</th><th>Fecha Nacimiento</th><th>Parentesco</th><th></th></tr></thead>
        <tbody class="listaBeneficiarios">
          <% @contrato.beneficiarios.order(:id).each do |beneficiario| %>
            <%= render('/beneficiarios/beneficiario', beneficiario: beneficiario ) %>
          <% end %>
        </tbody>
        </table>
        </div>
      </div>
    </div>
    <!-- Fin Beneficiarios -->
  </div>
</div>

<div class="modal fade" id="beneficiarioModal" tabindex="-1" role="dialog" aria-labelledby="beneficiarioModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="beneficiarioModal">Editar</h4>
      </div>
      <div class="modal-body ">
        <div class="panel-body contenido">
          

        </div>
      </div>
    </div>
  </div>
</div>
