<%= index_titulo %> 
<%= render partial: "/shared/flash_messages", flash: flash %> 
<div class="panel-body2">
    <div class="row">
        <div class="col-sm-4 col-md-4" >
          <%= link_to 'Nuevo', new_impuesto_path,
            class: "btn btn-default btn-sm nuevo_cliente"  %>
        </div>
        <div class="col-md-8" align="right">
           <%= buscar(impuestos_path,["descripcion"]) %>
        </div>
    </div>
    <%= tabla_panel_responsive([
            { title: "Id", width: "20%"},
            { title: "Descripción", width: "60%"},
            { title: "%", width: "20%"},
        ],@impuestos)%>
    <%= paginador(@impuestos,controller: :impuestos, action: :index ) %>
</div>