<tr>
    <td><%= cuenta.id %></td>
    <td><%= cuenta.cuenta %></td>
    <td><%= cuenta.banco.banco %></td>
    <td align="right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
        </button>
  		<ul class="dropdown-menu dropdown-menu-right">
    		<li><%= link_to 'Mostrar', cuenta  %></li>
    		<li><%= link_to 'Editar',edit_cuenta_path(cuenta) %></li>
            <li><%= button_to('Eliminar', cuenta_path(cuenta), method: "delete", class:"eliminar", data: { confirm: "Quieres Eliminar la cuenta #{cuenta.cuenta }" }) %></li>
	  	</ul>
	</div>
	</td>
</tr>
