<!DOCTYPE html>
<html>
  <head>
    <title>Renacer</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header"  align="center">
        <%= link_to "Funeraria Renacer",root_path  %> 
        </div>
        <div class="navbar-right ">
          <%= informacion_usuario if usuario_signed_in? %>
        </div>
      </div>
    </nav> 
  </header>



  <section class="contenedor">
    <%= content_menu :div, class: "col-sm-2 col-md-2 sidebar" do %>
    <br>
      <%= menu if usuario_signed_in? %> 
    <% end %>
    <%= content_accion :div,
      id: "acion",
      class: "col-sm-10 col-md-10 main", 
      style: "background-image: url(#{image_url "/Logo02.jpg"});  background-repeat: no-repeat; background-position: center; height: 100%"  do %>
      <%= yield %> 
    <% end %>
  </section>


  </body>
</html>


